.iconSize{
    font-size: 25px;
}
span.title{
    font-size: 20px;
}

div.icons{
    display: flex;
    justify-content: center;
align-items: center;
}

div.icons .iconSize-cont{
    margin:0 20px;
    font-size: 2rem;
}
.icon-link, .icon-link:hover{
    text-decoration: none;
}
.fb{
    color: rgb(66, 103, 178);
    transition: 1s ease-out;
}
.fb:hover{
    color: #1877f2;
}

.ig{
    color: rgb(159, 0, 101);
    transition: 1s ease-out;
}
.ig:hover{
     color: rgb(255, 0, 68);
}
.tw{
    color: rgb(8,160,233);
    transition: 1s ease-out;
}
.tw:hover{
    color: rgb(116, 200, 252);
}
.ln{
        color: #00449e;
    transition: 1s ease-out;
}
.ln:hover{
     color: #1877f2;
}
.wa{
    color: rgb(37, 211, 102);
    transition: 1s ease-out;
}
.wa:hover{
    color: rgb(18, 140, 126);
}