.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-caption {
  color: rgba(43, 86, 4, 255);
  text-align: center;
  margin: 0;
  font-weight: bolder;
}
*:focus {
  outline-width: 0 !important;
  outline: none !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#login-btn {
  background-color: rgba(43, 86, 4, 255);
  border: none;
  outline: hidden;
}
.eye {
  position: absolute;
  right: 50px;
  top: 51%;
  z-index: 9999;
}
.eye1 {
  position: absolute;
  right: 50px;
  top: 56.5%;
  z-index: 9999;
}
.eye2 {
  position: absolute;
  right: 50px;
  top: 66.5%;
  z-index: 9999;
}
.eyeIcon {
  cursor: pointer;
  font-size: 20px;
  color: rgba(43, 86, 4, 255);
}
.lockIcon {
  font-size: 30px;
  color: rgba(43, 86, 4, 0.8);
  text-align: center;
}
.login-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.login-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.login-foot p,
a {
  text-decoration: none;
  color: rgba(43, 86, 4, 0.8);
}
.login-foot .signup {
  text-decoration: underline;
}
.login-foot .forgot {
  font-weight: bold;
}
.forgot-foot {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin: 10px 0;
}
button[type="submit"]:active,
.inputs:active,
.inputs:focus {
  outline: none !important;
  border: 1px solid rgba(43, 86, 4, 0.8);
  box-shadow: none;
}